:root {
    /* font-size */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 22px;
    --fs-6xl: 28px;
    --fs-7xl: 28px;

    /* line-height */
    --lh-xs: 16px;
    --lh-sm: 20px;
    --lh-base: 24px;
    --lh-lg: 28px;
    --lh-xl: 30px;
    --lh-2xl: 35px;
    --lh-3xl: 40px;

    /* color */
    --color-white-primary: #FFFFFF;
    --color-gary-primary: #FFFFFF3D;
    --color-black-primary: #090909;
    --color-black-secondary: #00000029;
    --color-black1: #0000000A;
    --color-black2: #0000001F;
    --color-black: #000000;
    --color-black3: #00000014;
    --color-black4: #030303;
    --color-black5: #0505053d;
    --color-Light-Green: #93E3CC;
    --color-Light-Green2: #1DB487;
    --color-dark-lime: #1DB4873D;
    --color-light-lime: #42B694;
    --color-light-lime1: #A5ECD7;
    --color-dark-Green: #08372B;
    --color-dark-Green2: #1DB4871A;
    --color-dark-springgreen: #00825C;
    --color-gray-primary: #BABABA;
    --color-gray-secondary: #9B9B9B;
    --color-gray-light: #FFFFFF5C;
    --color-gray-dark: #85858533;
    --color-black-dark: #0000000F;
    --color-white-light: #D6D6D6;

}

.fs-xs {
    font-size: var(--fs-xs);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

.fs-6xl {
    font-size: var(--fs-6xl);
}

.fs-7xl {
    font-size: var(--fs-7xl);
}

.lh-xs {
    line-height: var(--lh-xs);
}

.lh-xl {
    line-height: var(--fs-xl);
}

.lh-2xl {
    line-height: var(--lh-2xl);
}

.lh-3xl {
    line-height: var(--lh-3xl);
}

.text-black-primary {
    color: var(--color-black-primary);
}

.text-black4 {
    color: var(--color-black4);
}

@media (min-width:576px) {
    :root {
        /* font-size */
        --fs-6xl: 40px;
        --fs-7xl: 40px;

        /* line-height */

        --lh-3xl: 56px;
        --lh-2xl: 46px;
    }
}

@media (min-width:768px) {
    :root {

        /* font-size */

        --fs-7xl: 50px;

        /* line-height */

        --lh-3xl: 56px;
    }
}

@media (min-width:992px) {
    :root {
        /* font-size */
        --fs-2xl: 24px;
        --fs-3xl: 28px;
        --fs-6xl: 40px;
        --fs-7xl: 64px;

        /* line-height */
        --lh-2xl: 46px;
        --lh-3xl: 75px;
    }
}