:root {
    /* font-size */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 24px;
    --fs-5xl: 24px;
    --fs-6xl: 40px;
    --fs-7xl: 64px;

    /* line-height */
    --lh-xs: 16px;
    --lh-sm: 20px;
    --lh-base: 24px;
    --lh-lg: 28px;
    --lh-xl: 30px;
    --lh-46: 46px;
    --lh-75: 75px;

    /* color */
    --color-white-primary: #FFFFFF;
    --color-black-primary: #090909;
    --color-black-secondary: #00000029;
    --color-black1: #0000000A;
    --color-black2: #0000001F;
    --color-black: #000000;
    --color-black3: #00000014;
    --color-Light-Green: #93E3CC;
    --color-Light-Green2: #1DB487;
    --color-gray-primary: #BABABA;

}

.fs-xs {
    font-size: var(--fs-xs);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

.fs-6xl {
    font-size: var(--fs-6xl);
}

.fs-7xl {
    font-size: var(--fs-7xl);
}

.lh-xs {
    line-height: var(--lh-xs);
}

.lh-xl {
    line-height: var(--fs-xl);
}

.lh-46 {
    line-height: var(--lh-46);
}

.lh-75 {
    line-height: var(--lh-75);
}

.text-black-primary {
    color: var(--color-black-primary);
}