@import url(./root.css);

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none !important;
    list-style: none !important;
}

/* font-family */

.font-Poppins {
    font-family: "Poppins", sans-serif;
}

.font-Raleway {
    font-family: "Raleway", sans-serif;
}

.font-Inter {
    font-family: "Inter", sans-serif;
}

/* margin-padding */

.mt-135 {
    margin-top: 135px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-60 {
    margin-top: 60px;
}

.pb-80 {
    padding-bottom: 80px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-29 {
    margin-bottom: 29px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-18 {
    margin-top: 18px;
}

.p-24 {
    padding: 24px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.mt-20 {
    margin-top: -20px;
}

/* navbar-opacity */

.opacity-70 {
    opacity: 70%;
}

.opacity-60 {
    opacity: 60%;
}

.opacity-40 {
    opacity: 40%;
}

.nav-heading {
    transition: all 300ms linear;
}

.nav-heading:hover {
    opacity: 100%;
}

/* menu-icon--menu-list */

.menu-icon {
    position: relative;
    width: 50px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 7px;
    background: var(--color-black);
    transition: all .3s;
    position: relative;
}

.menu-icon span+span {
    margin-top: 7px;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: 22px;
        transform: rotate(0);
    }

    100% {
        top: 14px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(45deg);
    }

    50% {
        top: 14px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: 14px;
        transform: rotate(0);
    }

    100% {
        bottom: 14px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 14px;
        transform: rotate(135deg);
    }

    50% {
        bottom: 16px;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white-primary);
    transition: all 300ms linear;
}

.show {
    left: 0;
}

/* slick-slider */

.slider-box {
    box-shadow: 0px 2px 30px 0px var(--color-black1), 0px 8px 0px 0px var(--color-black-secondary);
    width: 267px;
    height: 182px;
    border-radius: 12px;
    transition: all 300ms linear;
    padding: 0 5px;
    margin-bottom: 30px !important;
}

.slider-box:hover {
    box-shadow: 4px 4px 20px 0px var(--color-black-secondary);
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.sec3-slider .slick-slide>div {
    display: flex;
    width: 267px;
}

.sec3-slider .over-slider {
    z-index: 2;
}

.sec3-slider .slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
}

.sec3-slider .slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: var(--color-white-primary);
}

.slick-dots li,
.slick-dots li button:before,
.slick-dots li button {
    background: var(--color-black);
    width: 17px;
    height: 6px;
    border-radius: 34px;
    opacity: 0.1;
    font-size: 0;
    padding: 0;
    margin: 0 2px;
    content: '';
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active {
    opacity: 100%;
    background: var(--color-Light-Green2);
    width: 29px;
    transition: all 300ms linear;
    border: 1px solid var(--color-black3);
    z-index: 3;
}

.slick-dots li button:before {
    margin: 0;
}

.slick-slide>div {
    display: flex;
    width: 364px;
}

.slider-box2 {
    border: 1px solid var(--color-black-secondary);
    box-shadow: 0px 12px 0px 0px var(--color-black-secondary);
    border-radius: 12px;
    padding: 24px;
    transition: all 300ms linear;
}

.sec5-slider .slick-track {
    padding-bottom: 50px;
    padding-top: 50px;
}

.sec5-slider .slick-slide.slick-center div .slider-box2 {
    border: transparent;
    box-shadow: 4px 4px 52px 0px var(--color-black-secondary);
}

.prev,
.next,
.next1,
.prev1 {
    display: none !important;
}

.sec6-slider .slick-track {
    padding-bottom: 48px;
    padding-top: 50px;
}

.sec6-slider .slick-dots li,
.sec6-slider .slick-dots li button:before,
.sec6-slider .slick-dots li button {
    background: var(--color-gray-secondary);
    width: 17px;
    height: 6px;
    border-radius: 34px;
    opacity: 0.1;
    font-size: 0;
    padding: 0;
    margin: 0 2px;
    content: '';
}

.sec6-slider .slick-dots li.slick-active button:before,
.sec6-slider .slick-dots li.slick-active {
    opacity: 100%;
    background: var(--color-white-primary);
    width: 29px;
    transition: all 300ms linear;
    border: 1px solid var(--color-black3);
    z-index: 3;
}

.slider-box3 {
    box-shadow: 0px 12px 0px 0px var(--color-gray-light);
    border-radius: 12px;
    transition: all 300ms linear;
}

.border-gray {
    border: 1px solid var(--color-white-light);
    border-top: transparent;
}

.border-light-black {
    border: 1px solid var(--color-black-secondary);
    border-bottom: transparent;
}

/* width--height */

.min-vh-150 {
    min-height: 150vh;
}

.max-w-461 {
    max-width: 461px;
}

.max-w-495 {
    max-width: 495px;
}

.max-w-624 {
    max-width: 624px;
}

.max-w-501 {
    max-width: 501px;
}

.h-100px {
    height: 100px;
}

.max-w-572 {
    max-width: 572px;
}

.max-w-595 {
    max-width: 595px;
}

.max-w-888 {
    max-width: 888px;
}

.max-w-535 {
    max-width: 535px;
}

.max-w-679 {
    max-width: 679px;
}

.w-fit {
    width: fit-content;
}

.h-1 {
    height: 1px;
}

.h-160 {
    height: 160vh;
}

.max-w-479 {
    max-width: 479px;
}

/* button */

.login-btn {
    border: 1px solid var(--color-black2);
    background: var(--color-Light-Green);
    width: 140px;
    height: 56px;
    border-radius: 8px;
    transition: all 300ms linear;
    position: relative;
}

.login-btn:hover,
.btn-get:hover {
    box-shadow: 0px 0px 0px 2.5px var(--color-white-primary), 0px 0px 0px 5px var(--color-Light-Green), 0px 0px 0px 10px var(--color-white-primary), 0px 0px 0px 10.5px var(--color-Light-Green);
    background: var(--color-white-primary);
    border: transparent;
}

.btn-learn {
    color: var(--color-dark-Green);
    border: 1px solid var(--color-black2);
    background: var(--color-white-primary);
    width: 159px;
    height: 55px;
    border-radius: 8px;
    transition: all 300ms linear;
}

.btn-learn:hover {
    box-shadow: 0px 0px 0px 2.5px var(--color-white-primary), 0px 0px 0px 5px var(--color-black), 0px 0px 10px 2px var(--color-white-primary);
    background: transparent;
    border: transparent;
    color: var(--color-white-primary);
}

/* section */

.z-10 {
    z-index: 10;
}

.section-1 {
    background-image: url(../image/png/hero-section-img.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../image/png/hero-section-layer.png);
    opacity: 50%;
}

.sec3-box {
    padding: 40px 25px;
    border: 1px solid var(--color-black-secondary);
    box-shadow: 0px 12px 0px 0px var(--color-black-secondary);
    min-height: 290px;
    border-radius: 12px;
    transition: all 300ms linear;
}

.icon-1 {
    background: var(--color-dark-Green2);
    border: 1px solid var(--color-dark-lime);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    place-items: center;
}

.sec3-box:hover {
    box-shadow: 4px 4px 52px 0px var(--color-black-secondary);
}

/* top-bottom-gap */

.bottom-119 {
    bottom: 119px;
}

.top-60 {
    top: 60%;
}

.top-46 {
    top: 46%;
}

.top-120 {
    top: 120px;
}

.top-43 {
    top: 43px;
}

.top-40 {
    top: 40px;
}

.gap-10 {
    gap: 10px;
}

.gap-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}

.gap-24 {
    gap: 24px;
}

.bottom-65 {
    bottom: 65px;
}

/* border */

.bottom-border {
    border-bottom: 1px solid var(--color-black5);
}

.border-radius-24 {
    border-radius: 24px;
}

.border-radius-top-12 {
    border-radius: 12px 12px 0 0;
}

.border-radius-bottom-12 {
    border-radius: 0 0 12px 12px;
}

.cursor-pointer {
    cursor: pointer;
}

.play-icon {
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--color-white-primary);
    place-items: center;
}

/* accordion */

.accordion1 {
    box-shadow: 0px 4px 32px 0px var(--color-black-dark);
    border: 1px solid var(--color-gray-dark);
    max-width: 774px;
    min-height: 72px;
    border-radius: 6px;
    transition: all 300ms linear;
}

.hide-text {
    position: absolute;
    transform: translateY(-300%);
    transition: all 300ms linear;
    border-bottom: 4px solid var(--color-light-lime);
}

.accordion-active {
    border: 1px solid var(--color-light-lime1);
    box-shadow: 0px 4px 32px 0px var(--color-black3);
    transition: all 300ms linear;
}

.accordion-active .accordion-heading {
    padding-bottom: 14px !important;
}

.accordion-active .accordion-heading h2 {
    opacity: 100% !important;
    font-weight: 600 !important;
}

.accordion-icon {
    transition: all 300ms linear;
}

.accordion-active .accordion-icon {
    transform: rotate(180deg);
}

.accordion-active .hide-text {
    position: unset;
    transform: translateY(0%);
}

/* form-input */

.input-email {
    border-radius: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
}

.input-box {
    border: 1px solid var(--color-black1);
    box-shadow: 0px 2px 15.4px 0px var(--color-black2);
    max-width: 476px;
    min-height: 55px;
    border-radius: 8px;
}

.input-email::placeholder {
    opacity: 100% !important;
}

.btn-get {
    color: var(--color-dark-Green);
    background: var(--color-light-lime1);
    border: 1px solid var(--color-black2);
    width: 162px;
    height: 55px;
    border-radius: 8px;
    left: -15px;
    transition: all 300ms linear;
}


/* footer-icon */

.footer-icon {
    width: 36.5px;
    height: 36.5px;
    border: 0.5px solid var(--color-white-primary);
    border-radius: 100%;
    place-items: center;
    transition: all 300ms linear;
}

.scrolltop {
    right: 3%;
    bottom: 3%;
    z-index: 5;
    transform: rotate(-90deg);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    place-items: center;
    background-color: var(--color-Light-Green2);
    transition: all 300ms linear;
    animation: 2s scrolltop infinite linear;
    display: none;
}

.scrolltop:hover {
    box-shadow: 0 0 10px var(--color-white-light);
}

@keyframes scrolltop {
    0% {
        bottom: 3%;
        background-color: var(--color-Light-Green2);
    }

    50% {
        bottom: 4%;
        background-color: var(--color-white-light);
    }

    100% {
        bottom: 3%;
        background-color: var(--color-Light-Green2);
    }
}

.preloader {
    z-index: 50;
    place-items: center;
    display: grid;
}

.preloader-img {
    animation: 2s preloaderimg infinite linear;
}

@keyframes preloaderimg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}


/* media-screen */

@media (min-width:768px) {
    .position-md-relative {
        position: relative;
    }

    .mt-md-150 {
        margin-top: 150px !important;
    }
}

@media (min-width:992px) {
    .menu-list {
        position: unset;
        top: 0;
        right: 0%;
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
        transition: none;
    }

    .min-h-lg-115 {
        min-height: 115px;
    }

    .text-lg-white {
        color: var(--color-white-primary) !important;
    }

    .opacity-lg-100 {
        opacity: 100% !important;
    }

    .fill-lg-white span svg path {
        fill: var(--color-white-primary);
    }

    .bottom-border {
        border-bottom: 1px solid var(--color-gary-primary);
    }

    .prev,
    .next,
    .prev1,
    .next1 {
        top: 50%;
        transform: translateY(-50%);
        left: -27px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        border: 1px solid var(--color-Light-Green2);
        place-items: center;
        display: grid !important;
    }

    .next,
    .next1 {
        left: auto;
        right: -27px;
    }

    .sec6-slider .slick-slide.slick-center div .slider-box3 {
        box-shadow: 0px 12px 0px 0px var(--color-dark-springgreen);
        transform: translateY(-30px);
    }

    .mt-lg-75 {
        margin-top: 75px;
    }

    .section-1 {
        background-position: top;
        background-size: contain;
    }

    .mt-lg-200 {
        margin-top: 200px !important;
    }

    .pt-lg-115 {
        padding-top: 115px !important;
    }
}

@media (max-width:992px) {
    .overflow-lg-hidden {
        overflow: hidden !important;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px !important;
    }

    .min-vh-xl-150 {
        min-height: 150vh;
    }

    .h-xl-auto {
        height: auto !important;
    }

    .top-xl-50 {
        top: 50% !important;
    }

    .translate-xl-y-50 {
        transform: translateY(-50%);
    }
}

@media (min-width:1400px) {

    .prev,
    .prev1 {
        left: -50px;
    }

    .next,
    .next1 {
        right: -50px;
    }

    .py-xxl-200 {
        padding-top: 200px !important;
        padding-bottom: 200px !important;
    }

    .pt-xxl-50 {
        padding-top: 50px !important;
    }
}

@media (min-width:1536px) {
    .pt-2xxl-150 {
        padding-top: 200px !important;
    }
}